.fellows img{
    width: 200px;
    border-radius: 50%;
}

.fellows img:hover{
    transform: scale(1.15);
}

.fellows{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: auto;
    width: 90%;
    padding: 10px;
}

.fellow-one{
    grid-column: 1/2;
    max-width: 350px;
    margin-top: 20px;
}

.fellow-two{
    grid-column: 2/3;
    max-width: 350px;
    margin-top: 20px;
}

.fellow-three{
    grid-column: 3/4;
    max-width: 350px;
    margin-top: 20px;
}

.fellow-one p{
    text-align: justify;
    margin: 10px;
}

.fellow-two p{
    text-align: justify;
    margin: 10px;
}

.fellow-three p{
    text-align: justify;
    margin: 10px;
}

.project{
    margin: auto;
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: beige;
    border-radius: 50px;
    box-shadow: 5px 10px black;
}

.project h1{
    text-align: center;
}

.project p{
    margin: 20px;
    text-align: justify;
}

#github {
    width: 30px;
}

#linkedin {
    width: 30px;
}

#email{
    width: 30px;
}

.link{
    padding-right: 5px;
}
  
   @media(max-width: 900px){
    .fellows{
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      margin: auto;
    width: 30%;
    }

    .fellow-one{
        grid-column: 1;
    }

    .fellow-two{
        grid-column: 1;
    }

    .fellow-three{
        grid-column: 1;
    }


   }
  