.navbar {
  display: flex;
  align-items: center;
  padding: 10px 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background: red;
  position: sticky;
  top: 0;
  border-radius: 60px;
}

#ytlogo {
  width: 100px;
}

#homelogo {
  background-color: white;
  border-radius: 30px;
  float: left;
  width: 25px;
  margin-right: 5px;
}

#abouticon{
   background-color: white;
  border-radius: 30px;
  float: left;
  width: 25px;
  margin-right: 5px;

}

#nav-list {
  list-style: none;
}

#nav-list a {
  float: left;
  display: block;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

#homelink a {
  text-decoration: none;
  color: white;
}

#aboutlink a {
  text-decoration: none;
  color: white;
}

#homelink a:hover {
  text-decoration: underline;
  color: black;
}

#aboutlink a:hover {
  text-decoration: underline;
  color: black;
}
