.videolist{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
 }

 .video{
    font-size: medium;
    text-align: center;
    padding: 10px;
 }

 .video section{
   text-align: center;
 }

 .video p{
   max-width: 400px;
   text-align: center;
 }

 #verified{
    width: 13px;
 }

 .video:hover{
   transform: scale(1.15)
 }

 @media(min-width:1301px){
  .video{
    display: block;
    align-items: center;
  }

  .video p{
    margin-left: 60px;
  }

 }

 @media(max-width: 1300px){
  .videolist{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .video p{
    margin-left: 70px;
  }
 }

 @media(max-width: 900px){
  .videolist{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: center;
  }

  .video p{
    margin-left: 150px;
  }

 }
