.fellows img{
    width: 200px;
}

.fellows{
    display: grid;
    grid-template-areas: 
    "f f f"
    "a s t";
}

.fellows h1{
    grid-area: f;
    text-align: center;
}

.fellow-one{
    grid-area: a;
}
.fellow-two{
    grid-area: s;
}
.fellow-three{
    grid-area: t;
}

.project h1{
    text-align: center;
}

.logo{
    
}

.link{
    opacity: 0.5;
}

